{% load static %}
</div>
</div>
<!-- End Page-content -->

                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Dashonic.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://Pichforest.com/" target="_blank" class="text-reset">Pichforest</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


        <!-- JAVASCRIPT -->
        <script src="{% static 'user/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'user/libs/metismenujs/metismenujs.min.js' %}"></script>
        <script src="{% static 'user/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'user/libs/feather-icons/feather.min.js' %}"></script>



        <!-- Vector map-->
        <script src="{% static 'user/libs/jsvectormap/js/jsvectormap.min.js' %}"></script>
        <script src="{% static 'user/libs/jsvectormap/maps/world-merc.js' %}"></script>


        <script src="{% static 'user/js/app.js' %}"></script>
		<script src="{% static 'user/js/custom.js' %}"></script>

    </body>
</html>