{% load static %}
{% load humanize %}

<!doctype html>
<html lang="ko">

    <head>
        
        <meta charset="utf-8" />
        <title>{% if seo.title %}{{seo.title}}{% else %}다낚아 - 라이브커머스, 체험단, 인플루언서 마케팅 플랫폼{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Pichforest" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'user/images/favicon.ico' %}'">

        <!-- plugin css -->
        <link href="{% static 'user/libs/jsvectormap/css/jsvectormap.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="{% static 'user/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'user/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'user/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

		<script src="{% static 'user/js/custom.js' %}"></script>
    </head>

    <body data-layout="horizontal">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="{% url 'main:user_index' %}" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'user/images/logo-sm.png' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'user/images/logo-dark.png' %}" alt="" height="22">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                    </div>

                    <div class="d-flex">
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-sm" data-feather="search"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
                                <form class="p-2" action="{% url 'fishing:user_fishing_list' %}" method="GET">
                                    <div class="search-box">
                                        <div class="position-relative">
                                            <input type="text" class="form-control rounded bg-light border-0" name="name" placeholder="Search...">
                                            <i class="mdi mdi-magnify search-icon"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-sm" data-feather="bell"></i>
                                <span class="noti-dot bg-danger"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="m-0 font-size-15"> 알림 </h5>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 250px;">
                                    
                                    
                                </div>
                                
                            </div>
                        </div>

                        
                    </div>
                </div>
                <div class="topnav">
                    <div class="container-fluid">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
    
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link arrow-none" href="{% url 'fishing:user_fishing_list' %}">
                                            <i class="icon nav-icon" data-feather="monitor"></i>
                                            <span data-key="t-dashboards">실시간예약</span>
                                        </a>
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link arrow-none" href="{% url 'fishing:user_boat_fishing_list' %}" id="topnav-uielement" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon nav-icon" data-feather="package"></i>
                                           <span data-key="t-elements">선상낚시</span>
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link arrow-none" href="{% url 'fishing:user_house_fishing_list' %}" id="topnav-more" role="button">
                                            <i class="icon nav-icon" data-feather="file"></i>
                                            <span data-key="t-extra-pages">좌대낚시</span>
                                        </a>
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link arrow-none" href="{% url 'fishing:user_experience_fishing_list' %}" id="topnav-pages" role="button">
                                            <i class="icon nav-icon" data-feather="grid"></i>
                                            <span data-key="t-apps">체험낚시</span>
                                        </a>
                                    </li>
    
                                    <li class="nav-item dropdown">
                                        <a class="nav-link arrow-none" href="#" id="topnav-components" role="button">
                                            <i class="icon nav-icon" data-feather="layers"></i>
                                            <span data-key="t-components">출조버스</span>
                                        </a>
                                    </li>

									<li class="nav-item">
                                        <a class="nav-link arrow-none" href="layouts-horizontal.html">
                                            <i class="icon nav-icon" data-feather="layout"></i>
                                            <span data-key="t-horizontal">조황정보</span>
                                        </a>
                                    </li>
    
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>

        <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">