{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


<!-- start page title -->
<div class="row">
	<div class="col-12">
		<div class="page-title-box d-flex align-items-center justify-content-between">
			<h4 class="mb-0">Cards</h4>

			<div class="page-title-right">
				<ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="javascript: void(0);">UI Elements</a></li>
					<li class="breadcrumb-item active">Cards</li>
				</ol>
			</div>

		</div>
	</div>

	{% for fishing_obj in fishing_objs%}
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <img class="card-img-top img-fluid" src="{% if fishing_obj.thumbnail %}{{fishing_obj.thumbnail.url}}{% else %}{% static 'user/images/no-middle.jpg' %}{% endif %}" alt="{{fishing_obj.business_name}}">
            <div class="card-body">
                <p class="card-text">{{fishing_obj.business_name}}</p>
            </div>
			<div class="card-footer text-muted">2 days ago</div>
        </div><!-- end card -->
    </div>
	{% endfor %}
</div>
<!-- end row -->
        


{% endblock %}