{% extends 'user/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load fishing_filter %}

<link href="{% static 'user/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />

<div class="row">
	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded-3" src="{% if fishing_obj.thumbnail %}{{fishing_obj.thumbnail.url}}{% else %}{% static 'user/images/no-middle.jpg' %}{% endif %}" alt="{{fishing_obj.display_business_name}}">
				</div>

				<div class="col-lg-6 mt-3 mt-lg-0">
					<h2 class="m-0 text-break">[{{fishing_obj.harbor.name}}] {{fishing_obj.display_business_name}}</h2>

													
								
					<a class="btn btn-primary w-100 mb-1" href="{{site_url}}">홈페이지 예약</a>
					
					<a class="btn btn-outline-primary w-100 mb-1" href="{{site_url}}" data-bs-toggle="modal" data-bs-target="#sendMessageModal">문의하기</a>
				
				</div>
			</div>

			
		</div><!-- end card body -->
	</div><!-- en card -->
		
</div>

<div class="row">
	<div class="card">
		<div class="card-body">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs nav-tabs-custom mb-3" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab" href="#book" role="tab">실시간예약</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#introduce" role="tab">상세소개</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="book">
					<div class="text-center d-flex flex-wrap justify-content-start justify-content-md-between mb-3">
						{% for dict in months %}
							{% for month,year in dict.items %}
								<a href="{% url 'fishing:user_fishing_detail' pk=fishing_obj.pk %}?month={{month}}&year={{year}}" id="month-data" class="btn btn-soft-primary">{{month}}월</a>
							{% endfor %}
						{% endfor %}
					</div>
					

					
					{% if sunsang24_objs is not None %}
						{% include "user/fishing/sunsang24_detail_list.html" %}
					{% endif %}
				</div><!-- end tab pane -->
	
				<div class="tab-pane" id="introduce" role="tabpanel">
					{{fishing_obj.introduce|safe}}
				</div><!-- end tab pane -->
				
			</div>
		</div>
	</div>
</div>
		
		
		<!-- end tab content -->
	</div>
	<!-- end col -->
</div>
<script src="{% static 'user/libs/flatpickr/flatpickr.min.js' %}"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>

<script>


//현재 월 active 해주기 start
let current_url = window.location.pathname + window.location.search;

if (isEmpty(window.location.search) || isEmpty(getParams('month'))) {
	current_url = window.location.pathname + '?month={{month}}&year={{year}}';
}
console.log(current_url)
document.querySelectorAll(`a[href="${current_url}"]`).forEach(elem => { 
	elem.classList.remove("btn-soft-primary");
  	elem.classList.add("btn-primary");
});
//현재 월 active 해주기 end
</script>

{% endblock %}