{% load fishing_filter %}
<!--<div class="text-center d-flex flex-wrap justify-content-start justify-content-md-between mb-3">
{% for days in days %}
	{% for day in days %}
		{% if day != 0 %}
			<span class="{% if forloop.first %}text-danger{% elif forloop.last %}text-primary{% endif %}">{{day}}</span>
		{% endif %}
	{% endfor %}
{% endfor %}
</div>-->

<div class="table-responsive">
	{% for date,value in sunsang24_objs.items %}
	<table class="table table-bordered mb-4" id="fishing-reserve-table">
		<tbody>
			<tr class="fw-bold">
				<td colspan="3">{{date|get_day_of_week}}, {{date|get_tidal_strength}}</td>
			</tr>
			<tr class="text-center fw-bold">
				<td>선박명</td>
				<td style="width: 70%;">예약현황</td>
				<td style="width: 10%;">남은자리</td>
			</tr>
			{% for sunsang24_obj in value %}
			<tr>
				<td class="text-center fw-bold align-middle">
					<dt>{{sunsang24_obj.name}}</dt>
					<dd>{% if sunsang24_obj.remain_embarkation_num >= 1 %}<a href="{{site_url}}" class="btn btn-info">예약하기</a>{% endif %}</dd>
					
				</td>
				<td>
					<dt>공지사항 :</dt>
					<dd>{{sunsang24_obj.notice|safe}}</dd>
						
					{% if sunsang24_obj.stime and sunsang24_obj.etime %}
					
					<dt>운항시간 :</dt>
					<dd>{{sunsang24_obj.stime}}~{{sunsang24_obj.etime}}</dd>
					{% endif %}

					{% if sunsang24_obj.fish_type %}
					<dt>대상어종 :</dt>
					<dd>{{sunsang24_obj.fish_type}}</dd>
					{% endif %}

					{% if sunsang24_obj.reservation_end %}
					<dt>예약확정 :</dt>
					<dd>{{sunsang24_obj.reservation_end}}</dd>
					{% endif %}

					{% if sunsang24_obj.reservation_ready %}
					<dt>입금대기 :</dt>
					<dd>{{sunsang24_obj.reservation_ready}}</dd>
					{% endif %}

					{% if sunsang24_obj.reservation_cancel %}
					<dt>예약취소 :</dt>
					<dd>{{sunsang24_obj.reservation_cancel}}</dd>
					{% endif %}
					
				</td>
				<td class="text-center fw-bold align-middle">
					{% if sunsang24_obj.remain_embarkation_num >= 1 %}
					<h3 class="mb-0"><span class="badge bg-primary">{{sunsang24_obj.remain_embarkation_num}}명</span></h3>
						
					{% else %}
					<h3 class="mb-0"><span class="badge bg-danger">마감</span></h3>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody><!-- end tbody -->
		
	</table><!-- end table -->
	{% endfor %}
</div>