{% load fishing_filter %}
<div class="table-responsive">
	<table class="table table-bordered mb-4">
		<thead>
			<tr>
				<th>일</th>
				<th>월</th>
				<th>화</th>
				<th>수</th>
				<th>목</th>
				<th>금</th>
				<th>토</th>
			</tr>
		</thead>
		<tbody>
			{% for days in days %}
			<tr class="fw-bold">
				{% for day in days %}
				<td>
					<div class="{% if forloop.first %}text-danger{% elif forloop.last %}text-primary{% endif %}">
						{% if day != 0 %}
							{{day}} 
						{% endif %}
					</div>
					
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody><!-- end tbody -->
	</table>
</div>